<div class="container">
  <h2 class="text-center">Authorise this Application to use Your Github Account!</h2>

  <br />

  <div align="center">
    <a href="https://github.com/login/oauth/authorize?client_id=893624586408ad9146c0&state=<%= @state %>" class="btn btn-success">Authorise</a>
  </div>
</div>
