<div id="jumbotron">
  <div id="jumbotron-overlay">
    <p id="jumbo-title">
      ManaGit
      <small id="jumbo-title-small">(Manage - It)</small>
    </p>

    <p id="jumbo-subtitle">
      Your Solution to Managing Development Workflows
    </p>

    <%= link_to 'Get Started', new_user_session_path, id: 'jumbo-login-button' %>
  </div>
</div>
