<li class="lg-item" id="completed-#{feat.id}">
  <%= feat.name %>

  <br /><br />

  <div class="features-username">
    <%= feat.owner_name %> - <%= feat.created_at.strftime("%-d/%-m/%Y") %>
  </div>
</li>
