<li class="lg-item" id="completed-#{feat.id}">
  <%= feat.name %>

  <br /><br />

  <div class="features-username">
    <p><%= feat.owner_name %></p>
    <p><%= feat.updated_at.strftime("%-d/%-m/%Y") %></p>
  </div>
</li>
