// @@@ @@@ @@@ @@@ @@@ @@@ @@@ @@@ @@@
//       show.html.erb
// @@@ @@@ @@@ @@@ @@@ @@@ @@@ @@@ @@@

.show-features-header {
  color: white;
  border: 1px solid;
  border-radius: 20px;
  padding: 10px 15px;
}

#pending-features {
  background-color: #dda11f;
}

#existing-bugs {
  background-color: #c92222;
}

#completed-features {
  background-color: #2ea542;
}

.features-info {
  display: inline-block;
}

.close-feature-form-div {
  margin-left: 20px;
  display: inline-block;
}

#new-feature-holder {
  display: none;
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
}

.new-feature-form {
  padding: 50px;
  background-color: white;
  height: 70%;
  width: 70%;
  border: 1px solid black;
  border-radius: 20px;
  margin: 50px auto;
}

// @@@ @@@ @@@ @@@ @@@ @@@ @@@ @@@ @@@
//       _close_feature.html.erb
// @@@ @@@ @@@ @@@ @@@ @@@ @@@ @@@ @@@

.close-feature-button {
  font-size: 16px;
  color: white;
  background-color: #2ea542;
  border: none;
}
