// @@@ @@@ @@@ @@@ @@@ @@@ @@@ @@@ @@@
//       show.html.erb
// @@@ @@@ @@@ @@@ @@@ @@@ @@@ @@@ @@@

#user-status:hover {
  cursor: pointer;
}

#user-status-holder {
  display: none;
}

.pending-features-ul, .bug-features-ul, .completed-features-ul {
  padding: 5px;
  // text-align: left;
}

.pending-features-ul > li {
  background-color: #f5cf05;
  color: black;
  padding: 18px 20px;
  border-radius: 10px;
  font-size: 15px;
  text-align: left;
  margin: 10px auto;
  width: 100%;
  list-style: none;
}

.bug-features-ul > li {
  background-color: #fa3500;
  color: black;
  list-style: none;
  padding: 18px 20px;
  border-radius: 10px;
  font-size: 15px;
  text-align: left;
  margin: 10px auto;
  width: 100%;
}

.completed-features-ul > li {
  background-color: #63bb64;
  color: black;
  list-style: none;
  padding: 18px 20px;
  border-radius: 10px;
  font-size: 15px;
  text-align: left;
  margin: 10px auto;
  width: 100%;
}

#nb-title {
  margin-bottom: 25px;
}

.features-info {
  display: inline-block;
}

#new-feature-holder {
  display: none;
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
}

.new-feature-form {
  padding: 50px;
  background-color: white;
  height: 80%;
  width: 70%;
  border: 1px solid black;
  border-radius: 20px;
  margin: 50px auto;
  overflow-y: scroll;
}

#close-new-feature-holder:hover {
  cursor: pointer;
}


// @@@ @@@ @@@ @@@ @@@ @@@ @@@ @@@ @@@
//       _uncompleted_feature.html.erb
// @@@ @@@ @@@ @@@ @@@ @@@ @@@ @@@ @@@

.features-username {
  font-size: 12px;
  text-align: left;
  color: black;
}

.features-username > p {
  margin-bottom: 1px;
}



// @@@ @@@ @@@ @@@ @@@ @@@ @@@ @@@ @@@
//       _close_feature.html.erb
// @@@ @@@ @@@ @@@ @@@ @@@ @@@ @@@ @@@

.close-feature-button {
  font-size: 12px;
  width: 50%;
  margin: 10px auto;
  padding: 5px 10px;
  display: block;
}

.close-feature-button:hover {
  cursor: pointer;
}
