<footer>
  <p id="footer-text">
    Made with
    <span id="footer-heart">&hearts;</span>
    by Angkiki using
    <span class="badge badge-info">Ruby on Rails</span>
    &copy; 2018
  </p>
</footer>


<style media="screen">
  footer {
    height: 100px;
    background-color: white;
    text-align: center;
    padding: 50px;
    color: black;
    margin-top: 50px;
  }

  #footer-heart {
    color: red;
  }
</style>
